body{
    margin-top: 15%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 15%;
}

.large{
    font-size: 80px;
    height: 750px;
    width: 350px;
    overflow: auto;
    padding-left: 15px;
    padding-bottom: 10px;
}

.footer {
    position: fixed;
    bottom: 0;
    background: white;
    width: 1000%;
  }

  p{
      color: teal
  }
